/*Plantilla de mi web site personal
* By Lorenzo Rojo
*/
body{
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}
header .contenedor {
  display: flex;
  justify-content: space-between;
}
header ul{
  display: flex;
}
header ul li{
  list-style: none;
  margin-right: 15px;
}
a{
  text-decoration: none;
}
.contenedor{
  margin: auto;
  max-width: 1280px;
  width: 90%;
}
header{
  background: linear-gradient(rgba(84, 93, 220, .9), rgba(96,171,245,.9)), url(../img/ordenador.jpg);
/* Medida para ocupar el 100% de alto de la ventana*/
  height: 100vh;
  /*Adapta la imagen al ancho de la ventana*/
  background-size: cover;
}
#contenedor-titulo-flex{
  display: flex;
  justify-content: center;
  margin: 18vh 0;
  max-width: 1580px;
  width:100%;
  /* Eso representa
  margin-top:18vh;
  margin-right:0px;
  margin-bottom:18vh;
  margin-left: 0px;
  */
}
h1{
  font-size: 60px;
  color: #fff;
  margin: 0;
}
h2{
  font-size: 25px;
  color: #fff;
}
.contenedor-titulo{
    text-align: center;
}
/*Estilos para el boton*/
.contenedor-titulo a, #sobre-mi a, #blog a,#que-esperas a, #contacto input[type="submit"]{
  font-size: 14px;
  color: #fff;
  background: #5cb8ff;
  padding:14px 24px;
  width: 128px;
  display: inline-block;
}
p.logo a{
  color: #fff;
  font-size: 20px;
}
nav ul li a{
  color: #fff;
}
/*SECCION DE SOBRE MI*/
h3{
  text-align: center;
  font-size: 55px;
  font-weight: normal;
}
#sobre-mi .contenedor-sobremi,.contenedor-post{
  display: flex;
  justify-content:space-around;
}
#sobre-mi .texto{
  width:42%;
}
/*SECCION SERVICIOS*/
.contenedor-servicios{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/*Lo coloque de 33% dependiendo de la cantidad de containers que tenga*/
.servicio{
  width: 25%;
  padding: 34px 30px 38px 30px;
  border-radius: 10px;
  margin-bottom: 40px;
  position:relative;
  color: #fff;
}
.servicio h4{
  font-size: 30px;
  margin: 0;
}
.servicio p{
  margin-bottom: 20px;
  height: 194px;
}
/*Colores para los contenedores*/
.contenedor-servicios .violeta{
  background: linear-gradient(to top, #5055df, #6d68f3);
  box-shadow: 0 12px 30px 0 rgba(80,85,223,.37);
}
.contenedor-servicios .celeste{
  background: linear-gradient(to top, #40a8f9, #5cb8ff);
  box-shadow: 0 12px 30px 0 rgba(86,163,222,.3);
}
.ondas{
  position: absolute;
  left: 0;
  bottom: 0;
}
.icono{
  float: right;
}
/*MIS TRABAJOS*/
button.owl-prev, button.owl-next{
  font-size: 40px !important;
}
span{
  color: #71bcfa;
}
/*PORQUE TRABAJAR*/
.contenedor-trabajar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#por-que-trabajar .item-t{
  width: 28%;
  text-align:center;
}
#por-que-trabajar ul li{
  list-style: none;
}
/*seleccionar elemento hijo de una lista*/
#por-que-trabajar ul li:nth-child(2){
  font-weight: bold;
  font-size: 19px;
  margin-top: 5px;
  margin-bottom: 20px;
}
#por-que-trabajar ul li:nth-child(2){
  line-height: 31px;
}
/*SECCION BLOG*/
#blog{
  background: #F9FAFC;
}
#blog .contenedor-publicaciones{
  display: flex;
  justify-content: space-around;
}
#blog .publicacion{
  width: 30%;
  box-shadow: 1px 1px 14px #ccc;
}
#blog img{
  width: 100%;
}
#blog .contenido{
  background: #fff;
  padding: 20px;
}
#blog h4{
  font-size: 23px;
  margin: 0;
  margin-bottom: 15px;
}
#blog p{
  color: #5A6169;
  line-height: 24px;
}
#blog a{
  width: 87px;
}
/*SeCCION QUE ESPERAS*/
#que-esperas{
  background: linear-gradient(rgba(84, 93, 220, .94), rgba(96, 171, 245, .9));
  text-align: center;
  padding: 50px 0;
  margin-top: 40px;
}
#que-esperas h3{
  font-size: 23px;
  color: #fff;
}
/*SECCION CONTACTO*/
#contacto form{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 77%;
  margin: auto;
}
input[type="text"],input[type="email"]{
  width: 49%;
  margin-bottom: 15px;
  padding: 18px 0;
  border: 0;
  border-bottom: 1px solid #5cb8ff;
  font-size: 17px;
}
textarea{
  padding: 18px 0;
  border: 0;
  border-bottom: 1px solid #5cb8ff;
  font-size: 17px;
  margin-bottom: 40px;
  width: 100%;
}
#contacto input[type="submit"]{
  width: 166px;
  margin: auto;
}
.contacto img{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contacto-info {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.contacto-info img {
  width: 28px;
  vertical-align: middle;
  margin-right: 10px;
}
/*FOOTER*/
footer{
  background: #2F2F2F;
  padding: 40px 0;
  text-align: center;
  margin-top: 40px;
}
footer .contenedor{
  display: flex;
  justify-content: center;
    flex-direction: column;
}
footer img{
  margin: 0 40px;
  transform: rotate(0);
  transition: 0.4s;
}
footer img:hover{
  transform: rotate(360deg);
  transition: 0.4s;
}
footer p {
  color: #fff;
  margin-top: 40px;
}
#whatsapp{
  position: fixed;
  top: 80%;
  right: 1%;
}
html{
  scroll-behavior: smooth;
}
#sobre-mi, #servicios, #mis-trabajos, #blog, #contacto{
  padding: 70px 0;
}
.menu-icon{
  display: none;
}
/*Responsive Desing*/
@media (max-width:800px) {
  header {
    height: 100vh;
  }
  .menu-icon{
    display: block;
    float: right;
    width: 40px;
    height: 35px;
    margin-top: 15px;
  }
  header nav{
    position: absolute;
    top: 83px;
    left: 0;
    height: 268px;
    background: #5cb8ff;
    width: 100%;
    display: none;
  }
  header nav ul{
    flex-direction: column;
  }
  #contenedor-titulo-flex{
    width:100%;
  }
  #sobre-mi .contenedor-sobremi{
    flex-direction: column;
  }
  #sobre-mi img, #sobre-mi .texto{
    width: 100%
  }
  .contenedor-servicios{
    flex-direction: column;
  }
  .servicio{
    width: 82%;
    padding: 34px 30px 69px 30px;
  }
  .icono{
    float: right;
    margin-top: 23px;
  }
  h3{
    font-size: 43px;
  }
  .contenedor-trabajar{
    flex-direction: column;
  }
  #por-que-trabajar .item-t{
    width: 100%;
  }
  .item-t ul{
    padding: 0;
  }
  #blog .contenedor-publicaciones {
      flex-direction: column;
  }
  #blog .publicacion {
    width: 100%;
    margin-bottom: 40px;
  }
  #contacto form{
    width: 100%;
    flex-direction: column;
  }
  input[type="text"],input[type="email"]{
    width: 100%;
  }
  footer img{
    margin: 0 24px;
  }
  .contacto-info {
    flex-direction: column;
  }

  .contacto-info img {
    width: 28px;
    vertical-align: middle;
    margin-right: 10px;
  }
}
/*Solo Tables*/
@media (min-width: 600px) and (max-width:800px) {
  header {
    height: 70vh;
  }

  .servicio {
    width: 57%;
    padding: 34px 30px 69px 30px;
    margin: auto;
    margin-bottom: 45px;
}

#blog .publicacion {
    width: 71%;
    margin: auto;
    margin-bottom: 40px;
}

}
/*New Styles*/
.nav-links {
  text-align: center;
}